.movie__card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  box-sizing: border-box;
  max-width: 364px;
}

.movie__data {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;
  gap: 16px 12px;
}

.movie__title {
  font-weight: 500;
  font-size: 13px;
  line-height: calc(16 / 13);
  margin: 0;
}

.movie__like-btn {
  background: url('../../images/heart.svg') no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

.movie__like-btn_liked {
 background: url('../../images/heart_filled.svg');
}

.movie__length {
  margin: 0;
  color: #a0a0a0;
  font-size: 11px;
}
